<form method="post" action="{{ path('type_ouvrage_delete', {'id': type_ouvrage.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_ouvrage.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
