{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nouveau type d'ouvrage{% endtrans %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block main %}
<div class="formulaire">
    <h1>{% trans %}Créer un nouveau type d'ouvrage{% endtrans %}</h1>

    {{ include('type_ouvrage/_form.html.twig') }}

    <a href="{{ path('type_ouvrage_index') }}" class="btn btn-secondary">{% trans %}Retour{% endtrans %}</a>
</div>
{% endblock %}
