{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Edition passage {{ passage_a_gue.id }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
{% endblock %}

{% block main %}
    <div class="formulaire">
        <h1>Edition passage à gué</h1>
        
        {{ include('passage/_form.html.twig', {'button_label': 'Modifier'}) }}
        {{ include('passage/_delete_form.html.twig') }}
        <a href="{{ path('passage_a_gue_index') }}" class="btn btn-secondary">Retour</a>
        
    </div>
{% endblock %}

{% block script %}    
    <!--script src="/js/formulaireImbriqueEquipement.js"></script-->     
    <!--script src="/js/formulaireImbriqueProcedure.js"></script-->
    <script src="/js/formulaireImbrique.js"></script>
{% endblock %}
