{% extends 'base.html.twig' %}

{% block title %}{% trans %}Création passage{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block main %}
    <div class="formulaire">
        <h1>{% trans %}Création d'un passage{% endtrans %}</h1>

        {{ include('passage/_form.html.twig') }}

        <a href="{{ path('passage_a_gue_index') }}" class="btn btn-secondary">{% trans %}Retour{% endtrans %}</a>
    </div>
{% endblock %}

{% block script %}    
    <!--script src="/js/formulaireImbriqueEquipement.js"></script-->     
    <!--script src="/js/formulaireImbriqueProcedure.js"></script-->
    <script src="/js/formulaireImbrique.js"></script>
{% endblock %}