/**
*   feuille CSS de nos pages avec formulaire
*/
main{
    padding-left: 15%;
    padding-right: 15%;
}

.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    width: fit-content;
}
input{
    margin-bottom: 1em;
}
.petit-lien{
    font-size: 0.8em !important;
}

.popup{
    width: 25%;
}
#tooltip {
    background: #333;
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    font-size: 13px;
    border-radius: 4px;
    display: none;
}
#tooltip[data-show] {
    display: block;
}
#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}
  
#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -4px;
}
  
#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}
  
#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}
#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}
#arrow {
    visibility: hidden;
  }
#arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}
  








