/**
*   feuille CSS du thème du site
*/


/**
*   ici, on modifie le thème boostrap
*/
.bg-primary{
    background-color: rgb(239, 119, 87) !important; /*Couleur du CEREMA*/
}
.btn-info{
    background-color: rgb(255, 154, 128) !important; /*Dérivé du CEREMA*/
    border-color: #ffbcab !important; /*Dérivé du CEREMA*/
}
.btn-success{
    background-color: #8ec641 !important; /*Couleur du MIIAM*/
    border-color: #B0E469 !important; /*Dérivé du MIIAM*/
}
.btn {
	border-radius: 10px 0 10px 0;
	border: 1px;
	box-shadow: 0 0 0 rgba(0,0,0,0.3);
	transition: 0.3s ease-out all;
    margin: auto;
}
.btn:hover {
	box-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}


/**
*   Ici, c'est nos classes, et les balises HTML, par ordre d'apparition dans notre thème
*/
html{
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction : column;
}
header{
    border-bottom: 2px solid black;
}
.logo{
    height: 50px;
}
main{
    height: 100%;
}
footer {
    display: flex;
    flex-flow: row;
}
figure:nth-child(0) {
    background-color: burlywood;
}
figure img:nth-child(0){
    width: 200px;
    height: 180px;   
}
figure img:nth-child(1){
    width: 100px;
    height: 105px;
}
figure img:nth-child(2) {
    width: 120px;
    height: 100px;
}
