<form method="post" action="{{ path('type_equipement_delete', {'id': type_equipement.id}) }}" onsubmit={% trans %}"return confirm('Voulez-vous vraiment supprimer cet élément?');"{% endtrans %}>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_equipement.id) }}">
    <button class="btn btn-danger">{% trans %}Supprimer{% endtrans %}</button>
</form>
