<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit={% trans %}"return confirm('Souhaitez-vous vraiment supprimer cet utilisateur?');"{% endtrans %}>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">{% trans %}Supprimer{% endtrans %}</button>
</form>
