{% extends 'base.html.twig' %}

{% block title %}{{ user.pseudoUtilisateur }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block main %}
<div class="formulaire">
    <h1>Edition de l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('user_index') }}" class="btn btn-secondary">Retour</a>

    {{ include('user/_delete_form.html.twig') }}</div>
</div>
{% endblock %}
