{% extends 'base.html.twig' %}

{% block title %}Création utilisateur{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block main %}
<div class="formulaire">
    <h1>Créer un utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}" class="btn btn-secondary">Retour</a>
</div>
{% endblock %}
