{% extends 'base.html.twig' %}

{% block title %}Mention{% endblock %}

{% block main %}
<h1>MENTIONS LEGALES</h1>
<h2>Mentions légales</h2>
<p>Le site Passage à gué est un site dédié à l’information sur la localisation et les caractéristiques de cette catégorie d’ouvrages. Il est géré par la MIIAM DREAL.
Pour toute information sur le site vous pouvez contacter la MIIAM DREAL à l’adresse suivante :
(à renseigner)
 Le site est soumis à la législation française et européenne et les utilisateurs en visitant ce site en accepte les principes. 
</p>
<h2>Utilisation du site</h2>
<p>En utilisant ce site, vous acceptez les conditions générales d'utilisation énoncées ci-après. 
La visite du site est librement réservée à un usage personnel et la MIIAM - DREAL se réserve le droit de modifier les présentes dispositions à tout moment, sans avis préalable.
De même, elle se réserve le droit d’interrompre à tout moment l’accès au site pour, notamment des questions de sécurité ou de maintenance et mise à jour, et ce sans préavis.

A cet effet, la responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services, de même que la visite est libre, la MIIAM - DREAL ne peut pas garantir le bon fonctionnement continue du site ni le fait que le serveur soit exempt de virus ou autre problème pouvant nuire à son utilisation par le visiteur, même si la MIIAM – DREAL met tout en œuvre pour que de tels inconvénients ne viennent troubler la visite du site.
En conclusion, la MIIAM – DREAL ne saurait être tenue pour responsable de quelconques dommages dus à des dysfonctionnements de ce site, lesquels seraient de fait indépendants de sa volonté.
</p>
<h2>Contenu du site</h2>
<p>La MIIAM - DREAL a mis en œuvre une organisation permettant d’assurer une information la plus exacte possible et une diffusion la plus régulière possible de celle-ci. Pour autant, la  MIIAM – DREAL ne saurait non plus garantir l’absolue exactitude des informations diffusées au moment de leur mise en ligne et il appartient de fait, aux visiteurs d’utiliser le formulaire de contact pour signaler toute annonce ou erreur d’information relayée par le site, et le cas échéant la MIIAM - DREAL mettra tout en œuvre pour corriger les éventuelles erreurs dans les meilleurs délais possibles.
En conséquence, ce site, purement informatif sur les passages à gué, leur implantation, leur description technique concourent à un meilleur partage de connaissance sur ces ouvrages d’art particulier. Pour autant la MIIAM - DREAL ne saurait être tenue responsable quant à la pertinence de ces informations au regard des attentes des visiteurs.
En conséquence, en consultant le site, le visiteur s’engage à ne pas engager de poursuites à l’encontre de la MIIAM - DREAL quant à la diffusion sur ce site d’information erronées. Le visiteur est engagé à utiliser le formulaire de contact afin de demander la rectification des éventuelles erreurs. La MIIAM - DREAL mettra alors tout en œuvre pour vérifier les attendus de la requête ainsi déposée et s’engage le cas échéant à procéder à toute correction nécessaire.
</p>

<h2>Liens vers des sites externes</h2>
<p>Le site peut contenir des liens vers des sites externes. Dans ces cas-là, la MIIAM - DREAL ne pouvant assurer un contrôle de ces sites alerte le visiteur en indiquant la redirection vers un autre site au moyen d’une fenêtre séparée. Le lien vers l’autre site est clairement indiqué au visiteur qui ainsi peut ne pas cliquer sur le lien.
La MIIAM - DREAL met tout en œuvre pour veiller à ne pas renvoyer le visiteur vers des sites dont le contenu est contraire aux lois françaises et européennes ni aux bonnes mœurs, et dans la mesure du possible qui ne contreviennent pas aux intérêts des organismes représentés ou cités ici.
</p>
<h2>Propriété intellectuelle</h2>
<p>Les contenus, les textes, les photos, les marques, les logos, qui apparaissent ou sont disponibles sur le site, sont protégés par le droit de la propriété intellectuelle. Ils sont pour la plupart la propriété de la MIIAM – DREAL ou de ses partenaires institutionnels ainsi que de leurs auteurs respectifs auprès desquels la MIIAM - DREAL aura obtenu le consentement à la diffusion sur le site. 
A cet effet, le visiteur s’engage expressément à ne pas copier, traduire, reproduire, commercialiser, publier, exploiter et diffuser partiellement ou intégralement des contenus du site protégés par le droit de la propriété intellectuelle, sans autorisation préalable et écrite de la MIIAM - DREAL.
</p>
<h2>Vie privée et données personnelles</h2>
<p>La MIIAM - DREAL est amenée à travers ce site et pour une utilisation strictement encadrée, à utiliser certaines informations déposées par le visiteur sur le site (voir ci-après). 
La MIIAM - DREAL, s’engage à ne pas divulguer à des tiers les informations que celui-ci lui a communiquées. Celles-ci sont ainsi réputées confidentielles et ne seront utilisées que pour les besoins du service attendu par le visiteur. Cela concerne notamment les informations recueillies au travers du formulaire de contact. La MIIAM – DREAL s’engage à respecter la confidentialité des messages reçus au travers de ce moyen.
 
Les abonnements et newsletters
Les adresses électroniques recueillies dans le cadre des abonnements et des newsletters ne sont utilisées que pour l'envoi des informations pour lesquelles le visiteur s'est expressément inscrit. L’abonné peut à tout moment demander sa désinscription.
</p>
<h2>Lois et règlements</h2>
<p>Le présent site répond à la réglementation relative à l’informatique, aux fichiers et aux libertés telle que définie par la loi n°78-17 du 6 janvier 1978 modifiée.

Conformément à l’article 34 de la Loi informatique et libertés, tout visiteur inscrit dispose d’un droit d’accès, de modification, de rectification et de suppression des données qui le concerne par simple demande :
- par courrier :
(à renseigner)
-	Par messagerie :
En utilisant le formulaire de contact présent sur le site
</p>
<h2>Informations sur les cookies</h2>
<p>Les cookies sont des informations déposées sur le disque dur de l’utilisateur par le serveur du site visité. Les cookies sont gérés automatiquement par le navigateur du visiteur. Les cookies concourent à un meilleur fonctionnement du site notamment en facilitant la navigation sur le site par le visiteur en fonction de ses préférences.</p>
{% endblock %}